# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = appkr
	email = juwonkim@me.com
	editor = nano
	excludesfile = /Users/Juwon/.gitignore_global
[alias]
	mylog = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=relative
[color]
	ui = true
[format]
	pretty = oneline
[push]
	default = simple
[user]
	name = appkr
	email = juwonkim@me.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
